* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff8f2;
}

/* ========== Layout ========== */
.hero-bg {
  background-color: #cec4fa;
  height: 144px;
  position: relative;
  width: 100vw;
  z-index: 0;
}

.scallop {
  background-color: #cec4fa;
}

.contact-button {
  background: #ff96af;
  color: #444752;
}

main {
  align-items: center;
  text-align: center;
  margin-top: 18%;
}

main img {
  width: 570px;
}
/* ========== Button ========== */
.contact-button:active {
  background-color: #e36f8d; /* 눌렀을 때 색 */
}

.contact-button:hover {
  background-color: #ffa4bb; /* 살짝 더 진한 핑크 */
}

.first-section {
  margin-top: 200px;
  margin-left: 96px;
  margin-right: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-image {
  display: none;
}

section {
  margin-top: 64px;
  margin-left: 96px;
  margin-right: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info {
  margin-left: 50px;
}

.card-button :hover {
  background-color: #ff96af;
  color: #444752;
}

.card-button {
  margin-top: 80px;
  margin-bottom: 26px;
  display: flex;
  a {
    background-color: #444752;
    text-decoration: none;
    color: #fff8f2;
    padding: 12px 50px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-right: 26px;
    border-radius: 15px;
  }
}

.work-card-1,
.work-card-2 {
  background-color: rgba(255, 255, 255, 0.6); /* 투명한 흰색 레이어 */
  background-blend-mode: multiply; /* or overlay, screen, etc */
  max-width: 1160px;
  display: flex;
  border-radius: 20px;
  background-image: url(../img/note.png);
  background-size: 80%;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  align-items: stretch; /* ✅ 좌우 높이 맞추기 */
  overflow: hidden;
  border-radius: 20px;
  p {
    margin-right: 130px;
  }
}

.work-card-1 img {
  border-radius: 20px 0px 0px 20px;
}

.pc-image img,
.work-card-1 img {
  width: 100%;
  max-width: 465px;
  height: auto;
  object-fit: cover;
  display: block;
}

.pc-image img {
  border-radius: 0 20px 20px 0;
}

.pc-image {
  flex-shrink: 0;
  display: flex;
  align-items: stretch;
}

/* typography */
h2 {
  color: #444752;
  font-family: Formiga;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
  margin-top: 18px;
}

h5 {
  color: #444752;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  margin-bottom: 18px;
}

p {
  color: #444752;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-bottom: 18px;
  margin-top: 18px;
}

/* ========== Media Queries ========== */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .icon {
    width: 48px;
    height: 48px;
  }

  .nav-links,
  header > .contact-button {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .hero-bg {
    height: 70px;
  }

  .scallop-row {
    bottom: -40px;
  }

  .scallop {
    width: 80px;
    height: 80px;
    border-radius: 0 0 80px 80px;
  }

  .icon {
    width: 23px;
    height: 23px;
    margin: 0;
  }

  h1 {
    font-size: 20px;
  }

  header {
    padding: 32px 16px 60px 16px;
    margin: 0;
    a {
      margin: 0;
      img {
        width: 28px;
      }
    }
  }

  body.menu-open .hamburger {
    display: none;
  }

  .first-section {
    margin-top: 80px;
    margin-left: 96px;
    margin-right: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-info {
    margin-left: 16px;
    margin-right: 16px;
  }

  .first-section {
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-button {
    margin-top: 30px;
    margin-bottom: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      background-color: #444752;
      text-decoration: none;
      color: #fff8f2;
      padding: 12px 23px;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      border-radius: 15px;
    }
  }
  .card-button a {
    margin-right: 20px;
  }

  .card-button a:last-child {
    margin-right: 0;
  }

  .pc-image {
    display: none;
  }

  .mobile-image img {
    display: block;
    max-width: 360px;
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    object-fit: cover;
  }

  .mobile-image {
    flex-shrink: 0;
    display: flex;
    align-items: stretch;
  }

  .work-card-1 {
    max-width: 360px;
    border-radius: 20px;
    background-image: url(../img/note.png);
    background-size: 300%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    display: block;

    img {
      max-width: 360px;
      border-radius: 20px 20px 0px 0px;
      background-color: #06ac3b;
    }
    p {
      margin-right: 0px;
    }
  }

  .work-card-2 {
    max-width: 360px;
    border-radius: 20px;
    background-image: url(../img/note.png);
    background-size: 300%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    display: block;
    img {
      max-width: 360px;
      border-radius: 20px 20px 0px 0px;
    }
    p {
      margin-right: 0px;
    }
  }

  /* typography */
  h2 {
    color: #444752;
    font-family: Formiga;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 8px;
  }

  h5 {
    color: #444752;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-bottom: 8px;
  }

  p {
    color: #444752;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 0px;
  }
}
