/* ========== Base Reset ========== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff8f2;
  display: flex;
}

/* ========== Layout ========== */
.hero-bg {
  background-color: #cec4fa;
  height: 90vh;
  position: relative;
  width: 100vw;
}

.contact-button {
  background: #ff96af;
  color: #444752;
}

main {
  align-items: center;
  text-align: center;
  margin-top: 18%;
}

main img {
  width: 570px;
}
/* ========== Button ========== */
.contact-button:active {
  background-color: #e36f8d; /* 눌렀을 때 색 */
}

.contact-button:hover {
  background-color: #ffa4bb; /* 살짝 더 진한 핑크 */
}

/* ========== Media Queries ========== */
@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .hero-bg {
    height: 80vh;
  }

  main {
    align-items: center;
    text-align: center;
    margin-top: 50%;
  }

  main img {
    width: 284px;
  }
}
